.container{
    background-color: blue;
    width:700px;
    height:600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 2% ;
    border: 2px solid black;
    margin: auto;
}


.item1 ,.item2{
    padding: 10px;
    margin: 12px;
    height:10%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.links-items{
    width: 100%;
    

}
.col,.price{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    position: relative;
    top: -18px;

}
.price{
    padding-top: 33px ;
}

.item1 ,.item2,#links{
    width:50% ;
}
#links{
    
    display: flex;
    justify-content:space-around;
    position: relative;
    left: 30px;
}
.item1{
    background-color: #fec118;
}
.item2{
    background-color:#fff0c7 ;
}
h1{
    color: white;
    text-align: center;
}
.separator {
  
    border: none;
    border-top: 2px solid black;
    /* width: 100%; Ensure the separator spans the width of the container */
    text-align: center; /* Optional: Align text inside the element */
    margin: 11px;
    padding: 0;
    height: 1px; /* Set the height of the horizontal rule */
}
a{
    color: white;
}
img{
    width: 70%;
    height: 70%;
}
.text-area{
   width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    top: 20px;
    right: 38px;
    
}
.all{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
    margin: 2px;
}
.output{
  
    height: 16%;
    border-radius: 5px; /* Example border radius */
    background: linear-gradient(to right, grey 10%, white 50%, grey 90%); /* Apply gradient background */
    border: 2px solid white;
 
    
}
.output p{
    color: rgb(250, 131, 151);
    margin-top: 1px;
    font-size: 14px;
    
}
h1,p{
    font-weight:bold;
}
.colortacos{
    background-color: #d19c1a;
}
.colorkfc{
    background-color: #e8dbb3;
}
